:root{
  --black: #1B1C1F;
}
*{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body{
  background-color: var(--black);
  width: 1280px;
  height: 625px;
}

